:root {
    --body-input__margin: 0.6rem;
    --border-radius-messages: 0.6rem;
}

.chat {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.chat__header {
    display: flex;
    width: 100%;

    border-bottom: 1px solid black;
}

.chat__body {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.chat__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;

    border-radius: 0.6rem;
    border: 1px solid #d0d0d0;
    padding: 0.4rem;

    width: 80%;

    margin: var(--body-input__margin);
    margin-left: auto;
    margin-right: auto;
}

.chat__input-button {
    height: fit-content;
    margin-left: var(--body-input__margin);
}

.chat__input-text{
    max-height: 16rem;
    width: 100%;
    
    overflow: hidden;
    overflow-y: scroll;

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.chat__input-text:focus {
    outline: none;
}

.chat__body-text {
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.chat__body-text__message-container {
    margin: 1em auto;
    display: flex;
    width: 85%;
}

.chat__body-text__text-container {
    width: 100%;
    /* margin-left: 4rem; */
}

.message-text {
    grid-area: c;
    border-radius: var(--border-radius-messages);

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.message-text { 
    width: fit-content;
    /* max-width: 80%; */
}

.sender_user_name {
    color: blue;
}

.sender_avatar {
    position: relative;
    margin-left: -2rem;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.message-text p {
    padding: 0;
    margin: 0;
}

.chat__body-text__sended_message {
    margin-left: 0;
    margin-right: auto;
}

.chat__body-text__recieved_message {
    margin-left: 0;
    margin-right: auto;
}