<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/chat_page/style.css" rel="stylesheet">
    <link href="/static/styles/chat_page/chat.css" rel="stylesheet">
    <link href="/static/styles/chat_page/chat_info.css" rel="stylesheet">
    <link href="/static/styles/chat_page/sidebar.css" rel="stylesheet">
    <link href="/static/styles/base_style.css" rel="stylesheet">
    <title>Мессенджер</title>
</head>
<body>
    <main>
        <!--    Sidebar     -->
        <div id="main_sidebar" class="sidebar">
            <button id="sidebar__create-chat" class="sidebar__create-chat sidebar-element">
                <div>Начать новый чат</div>
            </button>
        </div>
        <!--    Chat body   -->
        <div id="main_body" class="body">

        </div>
    </main>

    <script src="/static/scripts/chat/chat_script.js"></script>
</body>
</html>