<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/base_style.css" rel="stylesheet">
    <link href="/static/styles/chat_page/md.css" rel="stylesheet">
    <link href="/static/styles/chat_page/chat.css" rel="stylesheet">
    <link href="/static/styles/chat_page/style.css" rel="stylesheet">
    <link href="/static/styles/chat_page/pop_up.css" rel="stylesheet">
    <link href="/static/styles/chat_page/chat_info.css" rel="stylesheet">
    <link href="/static/styles/chat_page/sidebar.css" rel="stylesheet">
    <link href="/static/styles/chat_page/sidebar_user_info.css" rel="stylesheet">

    <!-- TEMPRORARY SOLUTION -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <title>Мессенджер</title>
</head>
<body>
    <main>
        <!--                        POP UP                          -->
        <!-- pop up start new chat -->
        <div id="pop_up_start_new_chat" class="pop_up">
            <div class = "pop_up__background"></div>
            <div class="pop_up__form-container">
                <div class="pop_up__form">
                    <h1>Найти пользователя</h1>
                    <input class="pop_up__form-login_input" placeholder="Логин пользователя">
                    <button class="pop_up__form-find_button">Найти</button>
                </div>
            </div>
        </div>

        <!-- pop up start new group chat -->
        <div id="pop_up_start_new_group_chat" class="pop_up">
            <div class = "pop_up__background"></div>
            <div class="pop_up__form-container">
                <div class="pop_up__form">
                    <h1>Найти пользователя</h1>
                    <input class="pop_up__form-login_input" placeholder="Логин пользователя">
                    <button class="pop_up__form-find_button">Найти</button>
                </div>
            </div>
        </div>

        <!--                         MAIN                           -->
        <!--    Sidebar     -->
        <div id="main_sidebar" class="sidebar">
            <button id="sidebar__user-info" class="sidebar__user-info sidebar-element">
                <div class="sidebar__user-info__header-avatar">
                    <img src="/static/images/avatars/ph.png">
                </div>
                <div class="sidebar__user-info__header-info">
                    <div class="sidebar__user-info__header-info__name"></div>
                </div>
            </button>
            <button id="sidebar__create-chat" class="sidebar__create-chat sidebar-element">
                <div>Найти пользователя</div>
            </button>
            <button id="sidebar__create-chat" class="sidebar__create-chat sidebar-element">
                <div>Начать новый чат</div>
            </button>
        </div>
        <!--    Chat body   -->
        <div id="main_body" class="body">
            <div id="chat_body" class="chat">
             <div class="chat__body">
                <!--      Header      -->
                <div class="chat__header">
                    <div class="chat__header-avatar">
                        <img src="/static/images/avatars/ph.png">
                    </div>
                    <div class="chat__header-info">
                        <div class="chat__header-info__name"></div>
                    </div>
                </div>
                <!-- Text content -->
                 <div class="chat__body-text">
                    
                 </div>
                 <!-- Input fields -->
                 <div class="chat__input">
                    <span aria-multiline="true" contenteditable="true" 
                        inputmode="text" translate="no" data-placeholder="Сообщение" 
                        class="chat__input-text"></span>
                    <button class="chat__input-button">Отправить</button>
                </div>
             </div>
             
         </div>
        </div>
    </main>

    <script src="/static/scripts/chat/chat_script.js"></script>
</body>
</html>