.chat {
    width: 100%;
}

.chat__header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
}

.chat__body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: last baseline;
    text-align: end;
}

.chat__body-input {
}