:root {
    --body-input__margin: 0.6rem;
}

.chat {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.chat__header {
    display: flex;
    width: 100%;

    overflow: hidden;
    border-bottom: 1px solid black;
}

.chat__body {
    display: flex;
    flex-direction: column;

    justify-content: end;

    height: 100%;
    width: 100%;
}

.chat__body-input {
    display: flex;
    justify-content: center;

    margin: var(--body-input__margin);
}

.chat__body-input__button {
    margin-left: var(--body-input__margin);
}

.chat__body-input__text{
    height: 1rem;
    width: 80%;
}

.chat__body-text {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.chat__body-text__message-container {
    width: 80%;
}

.chat__body-text__sended_message {
    text-align: right;
}

.chat__body-text__recived_message {
    text-align: right;
}